
name: Deploy NodeJS Application to Hostinger

on: 
 push: 
  branches: 
   - master

jobs: 
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: root
        key: ${{ secrets.SSH_KEY }}
        passphrase: ${{ secrets.SSH_PASSPHRASE }}
        script: |
          cd /root/nodejs-application-deploy
          git pull
          docker compose up -d --build

